<ion-app>
  <ion-split-pane>
    <ion-menu #menu menuId="gg" side="start" type="overlay">
      <ion-header>
        <ion-toolbar color="translucent">
          <img href="" class="menu-image" [src]="user.githubUser?.avatar_url">
        </ion-toolbar>
      </ion-header>
      <ion-content padding>
        <h1>{{user.githubUser?.name}}</h1>
        <p>{{user.githubUser?.bio}}</p>
        <ion-list lines="none">
          <ion-item (click)="open(contact.link)" *ngFor="let contact of user.config?.contact">
            <ion-icon slot="start" [name]="contact.icon"></ion-icon>
            <ion-label>{{contact.username}}</ion-label>
          </ion-item>
          <ion-item [href]="'https://github.com/' + user.config?.github">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            <ion-label>{{user.config?.github}}</ion-label>
          </ion-item>
        </ion-list>

        <fiv-router-item [shape]="'dot'" [position]="'left'" [pageUrl]="'/resume'">
          <fiv-ripple [hover]="true" (click)="menu.close()">
            <ion-item lines="none">
              <ion-label>Résumé</ion-label>
            </ion-item>
          </fiv-ripple>
        </fiv-router-item>
        <fiv-router-item [shape]="'dot'" [position]="'left'" [pageUrl]="'/projects'">
          <fiv-ripple [hover]="true" (click)="menu.close()">
            <ion-item lines="none">
              <ion-label>Projects</ion-label>
            </ion-item>
          </fiv-ripple>
        </fiv-router-item>

      </ion-content>
      <ion-footer>
        <ion-toolbar color="translucent">
          <ion-buttons slot="start">
            <fiv-ripple (click)="menu.close()">
              <ion-button href="impressum">
                imprint
              </ion-button>
            </fiv-ripple>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>