<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
      <ion-title><span translate>PROJECTS</span></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="orgs">
    <ion-label>Organizations</ion-label>
    <div>
      <ion-chip [ngClass]="{'selected': user.githubUser && selectedLogin === user.githubUser?.login}" (click)="select(user.githubUser?.login)">
        <ion-avatar>
          <img [src]="user.githubUser?.avatar_url" alt="personal">
        </ion-avatar>
        <ion-label>{{user.githubUser?.login}}</ion-label>
      </ion-chip>
      <ion-chip [ngClass]="{'selected': selectedLogin === org.login}" *ngFor="let org of user.orgs" (click)="select(org.login)">
        <ion-avatar>
          <img [src]="org.avatar_url" [alt]="org.login">
        </ion-avatar>
        <ion-label>{{org.login}}</ion-label>
      </ion-chip>
    </div>
  </div>

  <ion-grid fixed>
    <ion-row (@listAnimation.done)="done($event)" [@listAnimation]="(user.pinned | projectFilter: selectedLogin).length">
      <ion-item-divider *ngIf="(user.pinned | projectFilter: selectedLogin).length > 0">
        <ion-label>Pinned Projects</ion-label>
      </ion-item-divider>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="12" [sizeXs]="12" *ngFor="let project of user.pinned | projectFilter: selectedLogin ">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>{{project.full_name}}</ion-card-subtitle>
            <ion-card-title>{{project.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{project.description}}</p>
          </ion-card-content>
          <ion-footer>
            <ion-toolbar color="translucent">
              <ion-chip>
                <ion-label [style.color]="'#' + intToRGB(hashCode(project.language))">{{project.language}}</ion-label>
              </ion-chip>
              <ion-buttons slot="end">
                <ion-button (click)="seeOnGithub(project.html_url)">
                  <ion-icon slot="start" name="logo_github"></ion-icon>
                  See on Github
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row (@listAnimation.done)="done($event)" [@listAnimation]="(user.repos | projectFilter: selectedLogin | pinned).length">
      <ion-item-divider *ngIf="(user.repos | projectFilter: selectedLogin | pinned).length > 0">
        <ion-label>More Repositories</ion-label>
      </ion-item-divider>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="12" [sizeXs]="12" *ngFor="let project of user.repos | projectFilter: selectedLogin | pinned">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>{{project.full_name}}</ion-card-subtitle>
            <ion-card-title>{{project.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{project.description}}</p>
          </ion-card-content>
          <ion-footer>
            <ion-toolbar color="translucent">
              <ion-chip>
                <ion-label [style.color]="'#' + intToRGB(hashCode(project.language))">{{project.language}}</ion-label>
              </ion-chip>
              <ion-buttons slot="end">
                <ion-button (click)="seeOnGithub(project.html_url)">
                  <ion-icon slot="start" name="logo_github"></ion-icon>
                  See on Github
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>