ion-card {
    margin: 14px 20px;
}

ion-row {
    margin-left: 24px;
}

.orgs {
    ion-label:first-child {
        padding-left: 42px;
    }
    ion-chip {
        margin-right: 4px;
    }
    ion-chip.selected {
        --background: var(--ion-color-primary);
    }
    div {
        padding-left: 42px;
    }
}

ion-item-divider {
    border: 0;
}