<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Résumé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <fiv-stepper (fivClick)="stepperClick($event)">
    <fiv-step [open]="true" [icon]="'md-contact'" [title]="'About me'" [subtitle]="user.githubUser?.name">
      <ion-card mode="ios">
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col [sizeXs]="12" [sizeSm]="12" [sizeMd]="4" [sizeLg]="4" [sizeXl]="2">
                <img id="resume-image" [src]="user.githubUser?.avatar_url">
              </ion-col>
              <ion-col [sizeXs]="12" [sizeSm]="12" [sizeMd]="8" [sizeLg]="8" [sizeXl]="10">
                <h1>{{user.githubUser?.name}}</h1>
                <p>{{user.githubUser?.bio}}</p>
                <ion-list lines="none">
                  <ion-item (click)="sendMail()">
                    <ion-icon slot="start" name="ios-mail"></ion-icon>
                    <ion-label>{{user.config?.email}}</ion-label>
                  </ion-item>
                  <ion-item [href]="'https://twitter.com/ + user.config?.twitter'">
                    <ion-icon slot="start" name="logo-twitter"></ion-icon>
                    <ion-label>@{{user.config?.twitter}}</ion-label>
                  </ion-item>
                  <ion-item [href]="'https://github.com/' + user.config?.github">
                    <ion-icon slot="start" name="logo-github"></ion-icon>
                    <ion-label>{{user.config?.github}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [open]="true" [icon]="'md-code'" [title]="'Experience'">
      <ion-card mode="ios">
        <ion-card-content>
          <ion-footer>
            <ion-toolbar color="translucent">
              <ion-buttons slot="end">
                <ion-button [href]="'projects'">
                  see more
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [open]="true" [icon]="'md-school'" [title]="'Education'">
      <ion-card mode="ios">
        <ion-card-content>
          <fiv-stepper #stepper (fivClick)="stepper.open($event)">
            <fiv-step *ngFor="let ed of user.config?.resume.education" [open]="false" [icon]="ed.icon" [title]="ed.topic"
              [subtitle]="ed.description">
              <ion-list lines="none">
                <ion-item>
                  <ion-label>{{ed.from}}-{{ed.to}}</ion-label>
                </ion-item>
              </ion-list>

            </fiv-step>
          </fiv-stepper>
        </ion-card-content>
      </ion-card>
    </fiv-step>
    <fiv-step [open]="false" [icon]="'help-circle-outline'" [title]="'If you want to get in touch, send me an email!'">

    </fiv-step>
  </fiv-stepper>


</ion-content>